:root {
  font-family: sans-serif;
}

main {
  max-width: 85ch;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

p {
  max-width: 70ch;
}

h1 {
  font-size: 5em;
  font-family: "Amatic SC", cursive;
}

a,
a:visited {
  color: inherit;
}

img {
  height: 100%;
  object-fit: cover;
}

.flow > * + * {
  margin-top: var(--flow-margin, 1rem);
}

.instagram-feed ul {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}
