:root {
  --color-black-light: #303030;
  --color-black: #101010;
  font-size: calc(1em + 0.1vw);
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--color-black-light);
}

h1 {
  font-size: 6rem;
  font-family: "Amatic SC";
  line-height: 1;
}

a,
a:visited {
  color: inherit;
}

header {
  max-width: 80ch;
  margin: 0 auto;
  padding: 1rem;
}

header a[href="/"] {
  font-family: "Amatic SC";
  line-height: 1;
  font-size: 2.5rem;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  text-decoration: none;
}
header nav a:hover {
  border-bottom: 2px solid;
}

nav {
  font-size: 0.85rem;
}

nav ul {
  font-weight: bold;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 1rem 1rem;
}

[aria-current] {
  border-bottom: 2px dotted;
}

.center {
  max-width: 65ch;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

article > * + * {
  margin-top: 2rem;
}
article > * + h2,
article > * + h3 {
  margin-top: 4rem;
}

article > h2 + h3 {
  margin-top: 2.5rem;
}

.home header {
  justify-content: flex-end;
}

.home section {
  padding: 7rem 1rem;
}
.home section article {
  padding-left: 0;
  padding-right: 0;
}

.hero {
  display: grid;
  place-items: center;
}

.hero--inner > * + * {
  margin-top: 1rem;
}

.hero a {
  text-decoration: none;
}

.hero a:hover {
  text-decoration: underline;
}

.instagram-feed {
  max-width: 85ch;
  margin: 0 auto;
}

.instagram-feed img {
  min-height: 100%;
  object-fit: cover;
}

.instagram-feed ul {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.custom-page article {
  padding-bottom: 8rem;
}

.custom-page article h1 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.bubble {
  position: fixed;
  border-radius: 100%;
  border: 1px solid #bbb;
}

@keyframes bubbleup {
  to {
    transform: translate(var(--translateX), -100vh);
  }
}

.bubble {
  animation-name: bubbleup;
  animation-iteration-count: infinite;
  animation-timing-function: steps(40, end);
}
