{% extends "layouts/base.html" %} {% block extra_css%}
<link rel="stylesheet" href="/css/recipe.css" />
{% endblock %} {% block content %}
<main class="ginger-ale-calculator">
  <h1>Ginger Ale Calculator</h1>
  <p>Un petit outil pour s'éviter de faire des règles de trois à la main.</p>
  <div class="with-sidebar">
    <div>
      <form>
        <section class="flow">
          <h2>Recette</h2>
          <p>Pour 1L de ginger ale</p>
          <div class="recipe">
            <label for="recipe_bug">Bug</label>
            <input id="recipe_bug" inputmode="numeric" value="25" />
            <span>g/L</span>
            <label for="recipe_ginger">Gingembre</label>
            <input id="recipe_ginger" inputmode="numeric" value="30" />
            <span>g/L</span>
            <label for="recipe_sugar">Sucre</label>
            <input id="recipe_sugar" inputmode="numeric" value="30" />
            <span>g/L</span>
            <label for="recipe_lemon">Jus de citron</label>
            <input id="recipe_lemon" inputmode="numeric" value="15" />
            <span>g/L</span>
          </div>
        </section>
        <section class="flow">
          <h2>Batch</h2>
          <div class="batch">
            <span>Pour</span>
            <input id="batch_bottle_count" inputmode="numeric" value="4" />
            <div>
              <label for="batch_bottl_cCount">bouteilles</label>
              <label for="batch_bottle_capacity">de</label>
              <select
                id="batch_bottle_capacity"
                inputmode="numeric"
                value="25cL"
              >
                <option value="250">25 cL</option>
                <option value="330">33 cL</option>
                <option value="1000">1 L</option>
              </select>
              <button id="submit_bottles">Go</button>
            </div>
            <span>ou pour</span>
            <input id="batch_water" inputmode="numeric" value="1" />
            <div>
              <label for="batch_water">L d'eau</label>
              <button id="submit_water">Go</button>
            </div>
            <span>ou pour</span>
            <input id="batch_ginger" inputmode="numeric" value="100" />
            <div>
              <label for="batch_ginger">g de gingembre</label>
              <button id="submit_ginger">Go</button>
            </div>
            <span>ou pour</span>
            <input id="batch_sugar" inputmode="numeric" value="250" />
            <div>
              <label for="batch_sugar">g de sucre</label>
              <button id="submit_sugar">Go</button>
            </div>
          </div>
        </section>
      </form>
      <section>
        <h2>Résultat</h2>
        <ul class="result">
          <li><span id="result_water">1</span>mL d'eau</li>
          <li><span id="result_bug">25</span>g de bug</li>
          <li><span id="result_ginger">100</span>g de gingembre</li>
          <li><span id="result_sugar">100</span>g de sucre</li>
          <li><span id="result_lemon">25</span>g de citron</li>
        </ul>
      </section>
    </div>
  </div>
</main>

<script src="/js/recipe.js"></script>
{% endblock %}
