{% extends "layouts/base.html" %} {% block content %}
<main class="flow home">
  <section class="hero">
    <a href="/">
      <h1>Les infiltrées</h1>
    </a>
    <nav>
      <ul>
        {% for customPage in collections.customPages %}
        <li>
          <a href="{{ customPage.url }}">
            {{ customPage.data.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </section>
  <section class="flow">
    {{ content | safe }}
  </section>
  <section class="instagram-feed flow" style="--flow-margin: 5rem">
    <ul role="list">
      {% for photo in instagramFeed %}
      <li>
        <a href="{{ photo.permalink }}">
          <img
            src="{{ photo.local_url | imageUrl }}"
            alt="{{ photo.caption }}"
            loading="lazy"
          />
        </a>
      </li>
      {% endfor %}
    </ul>
    <div class="cta" style="--flow-margin: 2rem">
      <a href="https://instagram.com/lesinfiltrees"
        >Suivez-nous sur Instagram 🔗</a
      >
    </div>
  </section>
</main>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{% endblock %}
