{% extends "layouts/base.html" %} {% block content %}
<div class="home">
  <header>
    <nav>
      <ul>
        {% for customPage in collections.customPages %}
        <li>
          <a href="{{ customPage.url }}">
            {{ customPage.data.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <main>
    <section class="hero">
      <div class="hero--inner">
        <h1>Les infiltrées</h1>
        <div>Atelier artisanal de fermentation à Marseille</div>
      </div>
    </section>
    <section>
      <article class="center">
        {{ content | safe }}
      </article>
    </section>
    <section>
      <div class="instagram-feed">
        <ul role="list">
          {% for photo in instagramFeed %}
          <li>
            <a href="{{ photo.permalink }}">
              <img
                src="{{ photo.local_url | imageUrl }}"
                alt="{{ photo.caption }}"
                loading="lazy"
                width="532"
                height="532"
              />
            </a>
          </li>
          {% endfor %}
        </ul>
        <div class="center">
          <a href="https://instagram.com/lesinfiltrees"
            >Suivez-nous sur Instagram 🔗</a
          >
        </div>
      </div>
    </section>
  </main>
</div>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
<script defer src="/js/bubbles.js"></script>
{% endblock %}
