{% extends "layouts/base.html" %} {% block content %}
<header>
  <a href="/">Les infiltrées</a>
  <nav>
    <ul>
      {% for customPage in collections.customPages %}
      <li {% if page.url == customPage.url %} aria-current="page"{% endif %}>
        <a href="{{ customPage.url }}">
          {{ customPage.data.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>
<main class="custom-page">
  <article class="center">
    <h1>{{ title }}</h1>
    {{ content | safe }}
  </article>
</main>
{% endblock %}
